<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/categoryDetailsCSS.css" th:href="@{/css/categoryDetailsCSS.css}">
    <meta charset="UTF-8">
    <title>Category Details</title>
</head>
<body>
    <h1 style="color: cornflowerblue">Category Details</h1>
    <div class="topnav">
        <a class="active" href="#dashboard">Dashboard</a>
        <a href="#tracker">Tracker</a>
        <a href="#share">Share</a>
        <a href="#details">About the Project</a>
    </div>
    <table class="table table-striped"th:object="${category}">
        <tr>
            <th>ID</th>
            <td><b th:text="${category.id}"></b></td>
        </tr>
        <tr>
            <th>Name</th>
            <td th:text="${category.name}"></td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <a th:href="@{/dashboard}">Back to Dashboard</a>
    <a th:href="@{/category/__${category.id}__/itemDetails}">Show items in this category</a>
    <a th:href="@{/user/__${category?.user.id}__/category/__${category.id}__/delete}">Delete Category</a>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fa3f2030594c7c4"></script>
</body>
</html>