<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit/Add user</title>
</head>
<body>
<h2>Edit and add user</h2>
<div class="topnav">
    <a class="active" href="#dashboard">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a href="/diary">Diary</a>
    <a href="/about">About the Project</a>
</div>

<form action="#"
      th:action="@{/user/__${user.id}__/edit}"
      th:object="${user}"
      method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="hidden" name="id" th:value="*{id}"/>

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input type="hidden" th:field="${user.email}" id="email" placeholder="Email"/>
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    <input type="hidden" th:field="${user.password}" id="password" placeholder="Password"/>
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Phone Number"/>
    <input type="hidden" th:field="${user.profession}" id="profession" placeholder="Profession"/>
    <span th:if="${#fields.hasErrors('profession')}" th:errors="*{profession}"></span>

    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>

    <div>
        <button
                th:with="text=${user['new']} ? 'Add User' : 'Update User'"
                class="btn btn-default" type="submit" th:text="${text}">Add
            User</button>
    </div>

</form>

</body>
</html>