<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/createOrUpdateItem.css" th:href="@{/css/createOrUpdateItem.css}">
    <!--<link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">-->
    <meta charset="UTF-8" />
<!--
    <link th:href="@{/css/styles.css}" rel="stylesheet">
-->
</head>
<body>
<h2>Edit Item</h2>
<div class="topnav">
        <div>
            <img src="../../images/LogoSingle.png" alt="logo" style="width:60px;height:60px;" align="left" id="logo">
        </div>
    <a href="/dashboard">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a th:href="@{/user/__${user.id}__/search}">Search</a>
    <a th:href="@{/user/__${user.id}__/about}">About the Project</a>
    <a th:href="@{/logout}">Logout</a>

</div>
<br>
<br>
<br>
<br>
<form action="#" th:object="${item}" method="post">
    <input type="hidden" name="id" th:value="${item.id}"/>
    <center><label for="name">Name</label></center><br>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
<br>
    <center><label for="qty">Quantity</label></center><br>
    <input type="number" th:field="*{quantity}" id="qty" placeholder="Quantity"><br>
    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>
<br>
    <center><label for="date">Due Date</label></center><br>
    <input type="date" th:field="*{dueDate}" id="date" placeholder="Due Date"><br>
    <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span><br><br>
    <input type="submit" value="Update Item">
</form>
</body>
</html>
