<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/createOrUpdateCategory.css" th:href="@{/css/createOrUpdateCategory.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <title>Edit/Add category</title>
</head>
<body>
<h2 style="color: #D8BFD8">Update Category</h2>
<div class="topnav">
    <header>
        <div id="logo">
            <img src="../../images/LogoSingle.PNG" alt="logo" style="width:60px;height:60px;" align="left">
        </div>
    </header>
    <a href="/dashboard">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a th:href="@{/user/__${user.id}__/about}">About the Project</a>
    <a th:href="@{/logout}">Logout</a>
</div>
<form action="#"
      th:object="${category}"
      method="post">
    <input type="hidden" name="id" th:value="${category.id}"/>
    <input type="hidden" name="user" th:text="${category.user?.id}">
<!--
    Dont copy above line
-->
    <input type="hidden" name="id" th:value="*{id}"/>
    <br>
    <br>
            <label for="name">Name: </label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br><br>
            <div class="button">
            <button th:with="text=${category['new']} ? 'Add Category' : 'Update Category'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Category</button>
            </div>

</form>
</body>
</html>