<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
<!--
    <link th:href="@{/css/styles.css}" rel="stylesheet">
-->
</head>
<body>
<h2>Edit/Create Item</h2>
<div class="topnav">
    <a class="active" href="#dashboard">Dashboard</a>
    <a href="#tracker">Tracker</a>
    <a href="#share">Share</a>
    <a href="#details">About the Project</a>
</div>
<form action="#" th:object="${item}" method="post">
    <input type="hidden" name="id" th:value="${item.id}"/>
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

    <label for="qty">Quantity</label>
    <input type="number" th:field="*{quantity}" id="qty" placeholder="Quantity">
    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></span>

    <label for="date">Due Date</label>
    <input type="date" th:field="*{dueDate}" id="date" placeholder="Due Date">
    <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
    <input type="submit" value="Update Item">
</form>
</body>
</html>
