<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<!--

-->
<head>
    <link rel="stylesheet" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <h1 style= "color: cornflowerblue;">Dashboard</h1>

    <div class="topnav">
        <b class="active" th:href="@{/}">Dashboard</b>
        <b href="#tracker">Tracker</b>
        <b href="#share">Share</b>
        <b href="#details">About the Project</b>
        <b href="diary">Personal Diary</b>
    </div>
</head>

<h2>Categories</h2>
<h2 th:text="${user.name}"> Welcome! </h2>
<body>

<div th:each="category : ${selections}" class="div">
    <div class="container" style="display: inline-block; flex-direction: row; justify-content: space-between">
        <div class="box" style="display: inline-block; flex-direction: row; justify-content: space-between">
            <div class="icon">
                <th:block th:each="i: ${#numbers.sequence(1, 5)}"></th:block>
            </div>
            <div class="content">
                <h3>Category Name: <a th:href="@{/user/__${user.id}__/categories/__${category.id}__}" th:text="${category.name}"></a><br></h3>
                <p>Description</p>
                <a th:href="@{/user/__${user.id}__/categories/__${category.id}__/edit}">Edit Category</a>
            </div>
        </div>
    </div>
</div>

<p><a th:href="@{/user/__${user.id}__/category/new}">Add new category</a></p>
<p><a th:href="@{/user/__${user.id}__/edit}">Edit User</a></p>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '3329996123785246',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v8.0'
        });
    };
</script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fa3f2030594c7c4"></script>
</body>
</html>