<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/itemDetailsCSS.css" th:href="@{/css/itemDetailsCSS.css}">
    <meta charset="ISO-8859-1">
    <title>Item Details</title>
</head>
<body>
<h1 style="color: cornflowerblue">Item Details</h1>
<div class="topnav">
    <a class="active" href="#dashboard">Dashboard</a>
    <a href="#tracker">Tracker</a>
    <a href="#share">Share</a>
    <a href="#details">About the Project</a>
</div>
<br>
<div class="container">
    <table class="tableitem" id="item_table" >
        <thead>
        <br><br><br><br>
        <tr>
            <th>Progress</th>
            <th>Name of Item</th>
            <th data-th="#">Quantity</th>
            <th>Due Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${selections}">
            <td><label>
                <input type="checkbox">
            </label></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.dueDate}"></td>
            <td>
                <a th:href="@{items/__${item.id}__/edit}" >Edit Item</a>
            </td>
            <td>
                <a th:href="@{items/__${item.id}__/delete}">Delete Item</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>
<p><a th:href="@{item/new}">Add new item</a></p>
<br>
<p><a th:href="@{delete}">Delete category</a></p>
</body>
</html>