<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/search.css" th:href="@{/css/trigger.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <title>Search</title>

</head>
<body>
<h1 style="color: #D8BFD8">Search</h1>
<div class="topnav">
    <div id="logo">
        <img src="../../images/LogoSingle.png" alt="logo" style="width:60px;height:60px;" align="left">
    </div>
    <a href="/dashboard">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a class="active" th:href="@{/user/__${user.id}__/search}">Search</a>
    <a th:href="@{/user/__${user.id}__/about}">About the Project</a>
    <a th:href="@{/logout}">Logout</a>
</div>
<br>
<br>
<br>
<form action="#" th:object="${item}" method="post">
    <label for="name">Name Of item: </label><br><br>
    <input type="text" th:field="*{name}" id="name" placeholder="Name"/><br><br>
    <button type="submit">Submit</button>
</form>


</body>
</html>