<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/trigger.css" th:href="@{/css/trigger.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <meta charset="ISO-8859-1">
    <title>Trigger</title>
</head>
<body>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5fa3f2030594c7c4"></script>

<h1 style="color: #D8BFD8">To-Do Deadlines</h1>

<div class="topnav">
    <header>
        <div id="logo">
            <img src="../../images/LogoSingle.PNG" alt="logo" style="width:60px;height:60px;" align="left">

        </div>
    </header>
    <a th:href="@{/dashboard}">Dashboard</a>
    <a class="active" th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a th:href="@{/user/__${user.id}__/about}">About the Project</a>
    <a th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a th:href="@{/logout}">Logout</a>

</div>
<br>

<div class="container">
    <table class="tableitem" id="item_table">
        <thead>
        <br><br>
        <tr>
            <th>Name Of Item</th>
            <th>Quantity</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.dueDate}">  </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>