<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Trigger page</p>
<div class="container">
    <table class="tableitem" id="item_table">
        <thead>
        <br><br>
        <tr>
            <th>Name Of Item</th>
            <th>Quantity</th>
            <th>Due Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.dueDate}">  </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>