

@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}
head {
    font-family: Verdana;
    color: #D8BFD8;
}
body {
    font-family: Verdana;
    text-align: center;
    background-image: url(../images/background.jpg);
    color: #D8BFD8;

}

title {
    color: #D8BFD8;
}

.topnav {
    background-color: #590059;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

div#save input[type="submit"] {
    width: 10%;
    height: 1%;
    background: #590059;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#save input[type="submit"]:hover {
    background: #990066;
}
