head {
    font-family: Verdana;
}
body {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    background: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-family-planning-service-convenience-service-guide-exhibition-board-background-material-image_139584.jpg");
    background-size: cover;
    background-position: center;
}

.loginbox{
    width: 480px;
    height: 480px;
    background: transparent;
    color: #000;
    top: 60%;
    left: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -15%;
    left: 0%;
}

h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 28px;
}

.loginbox td{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
}

.loginbox input{
    width: 80%;
    margin-bottom: 20px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: indianred;
    color: black;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: darksalmon;
    color: #fff;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: slateblue;
}

.loginbox a:hover
{
    color: #ffc107;
}

.loginbox input[type="text"], input[type="password"]
{
    border: black;
    border-bottom: solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 14px;
}

.fbicon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;

}
.loginbox b{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: slateblue;
}
.loginbox b:hover
{
    color: #ffc107;
}
.loginbox c{
    float: right;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: slateblue;
    font-weight: bold;
}
.loginbox c:hover
{
    color: #ffc107;
}
.googleicon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    align: right;
}