body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#forgot {
    background: #D8BFD8;
    width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#forgot h1 {
    background: #D8BFD8;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

div#forgot .forgot-container {
    background: #D8BFD8;
    padding: 6% 4%;
    font-family: SansSerif;
    font-weight: bold;
    font-size: 20px;
}

div#forgot input[type="email"],
div#forgot input[type="text"],
div#forgot input[type="password"] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #D8BFD8;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

div#forgot input[type="submit"] {
    width: 100%;
    background: #D8BFD8;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#forgot input[type="submit"]:hover {
    background: #D8BFD8;
}

div#forgot input[type="reset"] {
    width: 50%;
    background: #D8BFD8;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#forgot input[type="reset"]:hover {
    background: #D8BFD8;
}