@import 'https://fonts.googleapis.com/css?family=Open+Sans:600,700';

* {font-family: 'Open Sans', sans-serif;}
head, title {
    font-family: Verdana;
    color: #D8BFD8;
}
body {
    font-family: Verdana;
    text-align: center;
    background-image: url(../images/background.jpg);

}

title {
    color: #D8BFD8;
}

.topnav {
    background-color: #590059;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #990066 ;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #990066;
    color: white;
}

.container {
    display: block;
    text-align: center;
}

#item_table{
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
    color: #333;
    border-radius: .4em;
    overflow: hidden;
    color: black;
}

#item_table tr:first-child {
    border-top: none;
    background: #D8BFD8;
    color: #fff;
}

#item_table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: black; /*#f5f9fc;*/
    border-color: #bfbfbf;
    color: black;
}

#item_table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
}

#item_table th, .table td {
    text-align: left;
    padding: .5em 1em;
}
@media screen and (max-width: 601px) {
    #item_table tr:nth-child(2) {
        border-top: none;
    }
}
@media screen and (min-width: 600px) {
    #item_table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }
    #item_table td:before {
        display: none;
    }
    #item_table th,
    #item_table td {
        display: table-cell;
        padding: .25em .5em;
    }
    #item_table th:first-child,
    #item_table td:first-child {
        padding-left: 0;
    }
    #item_table th:last-child,
    #item_table td:last-child {
        padding-right: 0;
    }
    #item_table th,
    #item_table td {
        padding: 1em !important;
    }
}

a {
    color: white;
}
/*#item_table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}*/





