body, html {
    height: 100%;
    margin: 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

#sc-register {
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#sc-register h1 {
    background: #D8BFD8;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #000000;
}

div#sc-register .reg {
    background: #f0f0f0;
    padding: 6% 4%;
    font-family: SansSerif;
    font-weight: bold;
    font-size: 20px;
}

div#sc-register input[type="email"],
div#sc-register input[type="text"],
div#sc-register input[type="password"] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

div#sc-register input[type="submit"] {
    width: 100%;
    background: #590059;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#sc-register input[type="submit"]:hover {
    background: #990066;
}

div#sc-register input[type="reset"] {
    width: 50%;
    background: #590059;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#sc-register input[type="reset"]:hover {
    background: #990066;
}

#sc-register .reg p {
    font-size: 14px;
    font-family: Verdana;
    font-weight: lighter;
}