head {
    font-family: Verdana;
}
body {
    font-family: Verdana;
}
h1 {
    font-family: Verdana;
}
h2 {
    font-family: Verdana;
    text-align: center;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: darkblue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: darkblue;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: darkblue;
    color: white;
}

#space {
    width:500px;
}



.div .container
{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    float: left;
    padding: 10px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.div .container .box
{
    /* display: inline-block; */
    position: relative;
    width: 350px;
    padding: 50px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    float: left;

}

.div .container .box:before
{
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;

}
.div .container .box .icon
{
    position: relative;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
    box-shadow: 0 0 0 0 #428bca;
    background: #428bca;
}

.div .container .box:hover .icon
{
    box-shadow: 0 0 0 400px #428bca;
}

.div .container .box .content
{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.div .container .box:hover .content
{
    color: #fff;
}

.div .container .box .content h3
{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}
.div .container .box .content a{
    font-size: 16px;
    margin: 10px 0;
    padding: 0;
}

.div .container .box .content p
{
    margin: 0;
    padding: 0;
}
a
{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-size: 16px;
    margin: 10px 0;
}

