<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/diaryEntry.css" th:href="@{/css/diaryEntry.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <meta charset="ISO-8859-1">
    <title>Personal Diary</title>
</head>
<body>
<h2>Diary Entry</h2>
<div class="topnav">
    <a class="active" th:href="@{/}">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a href="/about">About the Project</a>
    <a th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a th:href="@{/logout}">Logout</a>

</div>


<h2 th:text="${entry.date}"></h2>

<p th:text="${entry.text}"></p>

<!--
<div th:object="entry">
    <p th:text="*{text}"></p>
</div>
-->

</body>
</html>