<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../static/css/diaryEntryDisplay.css" th:href="@{/css/diaryEntryDisplay.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <meta charset="ISO-8859-1">
    <title>Personal Diary</title>
</head>
<body>
<h2>Diary Entry</h2>
<div class="topnav">
    <div>
        <img src="../../images/LogoSingle.png" alt="logo" style="width:60px;height:60px;" align="left">
    </div>
    <a th:href="@{/}">Dashboard</a>
    <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
    <a th:href="@{/user/__${user.id}__/about}">About the Project</a>
    <a class="active" th:href="@{/user/__${user.id}__/diary}">Personal Diary</a>
    <a th:href="@{/logout}">Logout</a>

</div>
<br>
<br>
<br>
<br>
<h2 th:text="${entry.date}"></h2>
<h2 th:text="${entry.name}"></h2>
<center><div class="note">
<p th:text="${entry.text}"></p>

</div></center>
<!--
<div th:object="entry">
    <p th:text="*{text}"></p>
</div>
-->

</body>
</html>