<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal Diary</title>
</head>

<h1>Personal Diary</h1>
<body>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a th:href="@{/user/__${user.id}__/trigger}">Trigger</a>
        <a class="active" href="/diary">Personal Diary</a>
        <a href="/about">About the Project</a>
    </div>
    <!--<label for="date">Date</label>
    <input type="date" th:field="${date}" id="date" placeholder="Date"/>
    <span th:if="${#fields.hasErrors('date')}" th:errors="${date}"></span>-->
    <table>
        <thead>
        <tr>
        <th>Date Of entry</th>
        <th>Name of entry</th>
        <th>Action</th>
        <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${entries}">
            <td th:text="${entry.date}"></td>
            <td>
                <a th:href="@{/user/__${user.id}__/entry/__${entry.id}__}" th:text="${entry.name}"></a>
            </td>
            <td>
                <a th:href="@{/user/__${user.id}__/entry/__${entry.id}__/edit}">Edit entry</a>
            </td>
            <td>
                <a th:href="@{/user/__${user.id}__/entry/__${entry.id}__/delete}">Delete entry</a>
            </td>
        </tr>
        </tbody>
    </table>
<a th:href="@{/user/__${user.id}__/entry/new}">Add new Entry</a>


</body>
</html>