<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Phone verification</title>
    <link rel="stylesheet" href="../static/css/accountVerified.css" th:href="@{/css/accountVerified.css}">
    <meta charset="UTF-8">
</head>
<body>
<center>
    <h5>There are just a few more steps to complete the process</h5>

</center>
<div>
<form id="mobreg" th:object="${user}">
    <h3> Please enter your mobile number to create account and complete registration</h3>
    <p>Mobile Number: </p>
<input type="text" id="number" placeholder="+91*******" th:field="*{phonenumber}"> <br>

<div class ="recaptcha" id="recaptcha-container"></div>
<button type="button" onclick="phoneAuth()" id="phoneloginbtn">send code</button>
</form><br>
<h1>Enter verification code</h1>
<form>
    <input type="text" id="verificationCode" placeholder="Enter verification code">
    <button type="button" onclick="codeverify()">Verify code</button>
</form>
    <a href="/custom_login">Click here to login to your account </a>

</div>
</body>

<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyDh1uwHIeCLVvi9nc7btCcanGCcpj8xUlw",
        authDomain: "web-project-a74d3.firebaseapp.com",
        databaseURL: "https://web-project-a74d3.firebaseio.com",
        projectId: "web-project-a74d3",
        storageBucket: "web-project-a74d3.appspot.com",
        messagingSenderId: "498140821440",
        appId: "1:498140821440:web:7cb27338c373bd74affa25",
        measurementId: "G-H9L3QBB3ER"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script>
    // To apply the default browser preference instead of explicitly setting it.
    // firebase.auth().useDeviceLanguage();
    window.onload=function(){
        render();
    };
    function render(){
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
</script>
<script>
    function phoneAuth() {
        //get the number
        const number = document.getElementById('number').value;
        firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            console.log(coderesult);
            alert("Message sent");

        }).catch(function (error) {
            alert(error.message)
        });
    }
</script>
<script>
    function codeverify(){
        var code=document.getElementById('verificationCode').value;
        coderesult.confirm(code).then(function(result){

            alert("Succesfully registered")
            var user = result.user;
            console.log(user);
        }).catch(function(error){
            alert(error.message);
        });
    }

</script>


</html>