<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Congratulations!</title>
    <link rel="stylesheet" href="../static/css/accountVerified.css" th:href="@{/css/accountVerified.css}">
    <meta charset="UTF-8">
</head>
<body>
<center>
    <h1>Congratulations!</h1>
    <h2> Your email has been verified!</h2>
    <h4>There are just a few more steps to complete the process</h4>
</center>
<div>

    <form th:action="@{/phonereg}" th:object="${userEntity}" method="post">

        <table id="mobreg">
            <td>
                <centre>
                    <h3>Enter Mobile number </h3>
                    <label for="phoneNumber">Phone Number</label>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phoneNumber">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                    <br>
                    <br>

                    <center><div class ="recaptcha" id="recaptcha-container"></div></center>
                    <button type="button" onclick="phoneAuth()">send code</button>
                    <br>
                    <br>
                    <br>
                    <h3>Enter verification code</h3>
                    <input type="text" id="verificationCode" placeholder="Enter verification code">
                    <button type="button" onclick="codeverify()">Verify code</button>

                </centre>
            </td>
    </table>

</div>
</body>

<!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>

<!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-firestore.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.5/firebase.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.0.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.24.0/firebase-auth.js"></script>
<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBkqqtF50rZoS3p_q1KVN-Wwn9EtiN0lJg",
        authDomain: "phone-verification-1a23c.firebaseapp.com",
        databaseURL: "https://phone-verification-1a23c.firebaseio.com",
        projectId: "phone-verification-1a23c",
        storageBucket: "phone-verification-1a23c.appspot.com",
        messagingSenderId: "391215206940",
        appId: "1:391215206940:web:985714206a336e68d645d9",
        measurementId: "G-CQDX4K1R90"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script>
    // To apply the default browser preference instead of explicitly setting it.
    // firebase.auth().useDeviceLanguage();
    window.onload=function(){
        render();
    };
    function render(){
        window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');
        recaptchaVerifier.render();
    }
</script>
<script>
    function phoneAuth() {
        //get the number
        const number = document.getElementById('number').value;
        firebase.auth().signInWithPhoneNumber(number, window.recaptchaVerifier).then(function (confirmationResult) {
            window.confirmationResult = confirmationResult;
            coderesult = confirmationResult;
            console.log(coderesult);
            alert("Message sent");

        }).catch(function (error) {
            alert(error.message)
        });
    }
</script>
<script>
    function codeverify(){
        var code=document.getElementById('verificationCode').value;
        coderesult.confirm(code).then(function(result){

            var user = result.user;
            console.log(user);
            location.replace("http://localhost:8080/success")
            alert("Successfully registered");
        }).catch(function(error){
            alert(error.message);
        });
    }

</script>

</html>