<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/change.css" th:href="@{/css/change.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <title>Change password </title>
</head>
<body>
    <div id="sc-password">
        <h1>Change Password</h1>
        <div class="sc-container">
        <form action="#"  th:action="@{/changepwd}" th:object="${user}" method="post">
            <p>Here are a few guidelines for your password </p>
            <p>Your password should have: </p>
            <p>1. A minimum of 8 characters </p>
            <p>2. At least 1 uppercase letter </p>
            <p>3. At least 1 symbol </p>
            <p>4. At least 1 number </p><br><br>

            <label>Enter new Password</label>

            <input  th:field="*{password}" name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" />
            <span id="strength"></span>
            <center><input type="reset" value="Clear"/></center><br><br>
            <input type="submit" value="Submit" id="submit"></input>
        </form>

        </div>
    </div>
</body>
<script language="javascript">
    function passwordChanged() {
        const button=document.getElementById('submit');
        var strength = document.getElementById('strength');
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        var pwd = document.getElementById("password");
        if (pwd.value.length == 0) {
            strength.innerHTML = 'Type Password';
        } else if (false == enoughRegex.test(pwd.value)) {
            strength.innerHTML = 'Your password must contain more characters!';
            button.disabled=true;
        } else if (strongRegex.test(pwd.value)) {
            strength.innerHTML = '<span style="color:#008000">Strong!</span>';
            button.disabled=false;
        } else if (mediumRegex.test(pwd.value)) {
            strength.innerHTML = '<span style="color:orange">Medium!</span>';
            button.disabled=true;
        } else {
            strength.innerHTML = '<span style="color:red">Weak!</span>';
            button.disabled=true;
        }
    }
</script>
</html>