<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/change.css" th:href="@{/css/change.css}">
    <title>Change password </title>
</head>
<body>


<div id="sc-password">
    <h1>Reset Password</h1>

    <div class="sc-container">
    <form class="form" action="#"  th:action="@{/changepwd}" th:object="${user}" method="post">

        <label>Enter new Password</label>
        <input th:field="*{password}" type="password" name="password"></input>
        <center><input type="reset" value="Clear"/></center><br><br>
        <input type="submit" value="Submit"></input>

    </form>
    </div>

</div>

</body>
</html>