<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <h1 style= "color: cornflowerblue;">Dashboard</h1>
</head>
<body>
<div class="topnav">
    <a class="active" href="#dashboard">Dashboard</a>
    <a href="#tracker">Tracker</a>
    <a href="#share">Share</a>
    <a href="#details">About the Project</a>
</div>
<div id="track_trigger">Track-trigger</div>
<p>Ideally, I would print a bunch of categories here, but that functionality doesn't seem to be up and running yet :(</p>

</body>
</html>