<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/forgot.css" th:href="@{/css/forgot.css}">
    <link rel="shortcut icon" href="../images/LogoSingle.png" type="image/png">
    <title>Forgot Password</title>
</head>
<body>

<div id="forgot">
    <h1>Forgot Password</h1>

    <div class="forgot-container">

        <form action="#" th:action="@{/forgot}" th:object="${user}" method="post">

            <label >Email</label>
            <input th:field="*{email}" type="text" name="emailId"></input>

            <center><input type="reset" value="Clear"/></center><br><br>
            <input type="submit" value="Submit"></input>

        </form>
    </div>
</div>

</form>


</body>

</html>