<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">


        <label >Email</label>
            <input th:field="*{email}" type="text" name="emailId"></input>

          <label>Profession</label>
            <input th:field="*{profession}" type="text" name="professions"></input>

        <label >Password</label>
    <input  th:field="*{password}" name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" />
    <span id="strength"></span>


            <input type="reset" value="Clear"/>
           <input type="submit" value="Submit" id="submit"></input>


</form>

<script>
function signup() {
var pwd1 = document.getElementById("pwd").value;
var pwd2 = document.getElementById("check_pwd").value;

if (pwd1 != pwd2) {
alert("Passwords do not match");
}

}
</script>
<script language="javascript">
    function passwordChanged() {
        const button=document.getElementById('submit');
        var strength = document.getElementById('strength');
        var strongRegex = new RegExp("^(?=.{8,})(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*\\W).*$", "g");
        var mediumRegex = new RegExp("^(?=.{7,})(((?=.*[A-Z])(?=.*[a-z]))|((?=.*[A-Z])(?=.*[0-9]))|((?=.*[a-z])(?=.*[0-9]))).*$", "g");
        var enoughRegex = new RegExp("(?=.{6,}).*", "g");
        var pwd = document.getElementById("password");
        if (pwd.value.length == 0) {
            strength.innerHTML = 'Type Password';
        } else if (false == enoughRegex.test(pwd.value)) {
            strength.innerHTML = 'Your password must contain more characters!';
            button.disabled=true;
        } else if (strongRegex.test(pwd.value)) {
            strength.innerHTML = '<span style="color:#008000">Strong!</span>';
            button.disabled=false;
        } else if (mediumRegex.test(pwd.value)) {
            strength.innerHTML = '<span style="color:orange">Medium!</span>';
            button.disabled=true;
        } else {
            strength.innerHTML = '<span style="color:red">Weak!</span>';
            button.disabled=true;
        }
    }
</script>
</body>
</html>