<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">


        <label >Email</label>
            <input th:field="*{email}" type="text" name="emailId"></input>

          <label>Profession</label>
            <input th:field="*{profession}" type="text" name="professions"></input>

        <label >Password</label>
    <input  th:field="*{password}" name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" />
    <span id="strength"></span>


            <input type="reset" value="Clear"/>
           <input type="submit" value="Submit" id="submit"></input>


</form>

<script>
function signup() {
var pwd1 = document.getElementById("pwd").value;
var pwd2 = document.getElementById("check_pwd").value;

if (pwd1 != pwd2) {
alert("Passwords do not match");
}

}
</script>
</body>
</html>