<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/register.css" th:href="@{/css/register.css}">
    <title>Register</title>
</head>
<body>

<div id="sc-register">
    <h1>Sign up!</h1>
    <div class="reg">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
                <label >Email</label>
                    <input th:field="*{email}" type="text" name="emailId"></input>

                  <label>Profession</label>
                    <input th:field="*{profession}" type="text" name="professions"></input>

                <label >Password</label>
            <input  th:field="*{password}" name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" />
            <span id="strength"></span>


                    <center><input type="reset" value="Clear"/></center><br><br>
                   <input type="submit" value="Submit" id="submit"></input>

        </form>
    </div>
</div>

<script>
function signup() {
var pwd1 = document.getElementById("pwd").value;
var pwd2 = document.getElementById("check_pwd").value;

if (pwd1 != pwd2) {
alert("Passwords do not match");
}

}
</script>
</body>
</html>